<template>
	<table v-if="itemsList">
		<caption>{{ info.title }} 게시판 : 번호, 제목, 작성일</caption>
		<colgroup>
			<col style="width:18%;">
			<col style="">
			<col style="width:18%;">
			<col style="width:10%;">
			<col style="width:10%;">
		</colgroup>
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">제목</th>
				<th scope="col">작성일</th>
				<th scope="col">추천</th>
				<th scope="col">비추천</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in itemsList" :key="item.n4ArticleSN">
				<td>{{ item.n4ArticleSN }}</td>
				<td class="title">
					<router-link :to="{ name: `${info.routeName}_view`, params: { 'id': item.n4ArticleSN }, query: { 'page': $route.query.page } }">
						{{ item.strArticleTitle }}
					</router-link>
					<span class="cnt_comment">{{ `[${item.n4CommentCount}]` }}</span>
				</td>
				<td>{{ item.dtWriteDate }}</td>
				<td>{{ item.n4PositiveRecommendCount }}</td>
				<td>{{ item.n4NegativeRecommendCount }}</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
export default {
	props: [ 'info', 'itemsList' ],
	methods: {
	}
}
</script>