<template>
	<Fragment>
		<h3 class="veiw_tit">{{item.Info.strArticleTitle}}</h3>
		<div class="view_info_wrap">
			<span class="author"><span class="ico"></span>{{ item.Info.strWriterName }}</span>
			<div class="info">
				<span class="cnt_comment"><span class="ico"></span>{{ item.Info.n4CommentCount }}</span>
				<span class="cnt_like"><span class="ico"></span>{{ item.Info.n4PositiveRecommendCount }}</span>
				<span class="cnt_dislike"><span class="ico"></span>{{ item.Info.n4NegativeRecommendCount }}</span>
			</div>
		</div>
	</Fragment>
</template>

<script>
import { Fragment } from 'vue-fragment'

export default {
	props: [ 'item' ],
	components: {
		Fragment
	},
	data: () => ({
	}),
	watch: {
	},
	created() {
	},
	methods: {
	}
}
</script>