<template>

	<div>
		<paginate
			:force-page="currentPage"
			:page-count="Number(totalPage)"
			:page-range="Number(pageRange)"
			:click-handler="clickCallback"
			:prev-text="'prev page'"
			:next-text="'next page'"
			:container-class="'paging'"
			:page-class="'curpage'"
			:prev-link-class="'btn-paging-prev'"
			:next-link-class="'btn-paging-next'"
			:first-last-button="true"
			>
		</paginate>
	</div>
</template>

<script>
import Paginate from '@/plugins/vue-paginate.vue'

export default {
	components: {
		Paginate
	},
	props: [ 'currentPage', 'totalPage', 'pageRange' ],
	methods: {
		clickCallback(pageNum) {
			this.$emit('changePaging', pageNum)
		}
	}
}
</script>