<template>
	<div class="gnb">
		<ul>
			<router-link tag="li" class="m7" :to="{ name: 'notice' }"><a><span>공지사항</span></a></router-link>
		</ul>
	</div><!-- .gnb -->
</template>

<script>
export default {
	name: 'headerNav'
}
</script>