<template>
	<div class="tlb-wrap">
		<div class="container-inner">
			<BoardList 
				:info="boardInfo" :itemsList="itemsList"/>
			<BoardListPagination 
				:totalPage="totalPageCount"
				:pageRange="boardInfo.pageRange"
				:currentPage="currentPage"
				@changePaging="changePage" />

			<div class="button">
				<router-link :to="{ name: `${boardInfo.routeName}_add` }" class="box-btn">
					<span>글쓰기</span>
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'

import BoardList from '@/components/board/BoardList.vue'
import BoardListPagination from '@/components/board/BoardListPagination.vue'

export default {
	name: 'noticeList',
	components: {
		BoardList, BoardListPagination
	},
	data: () => ({
		currentPage: null,
		boardInfo: {
			title: '공지사항',
			routeName: 'notice',
			itemPerPage: 2,
			pageRange: 10,
		}
	}),
	watch: {
		'$route.query': {
			handler(newVal, oldVal) {
				if (newVal && oldVal) {
					this.noticeList(this.$route.query.page, this.boardInfo.itemPerPage)
				}
			},
			deep: true,
			immediate: true
		}
	},
	computed: {
		...mapGetters(
			'notices', [ 'prevSkipPageNum', 'nextSkipPageNum', 'totalPageCount', 'itemsList' ]
		)
	},
	created() {
		this.noticeList(this.$route.query.page, this.boardInfo.itemPerPage)
	},
	methods: {
		noticeList(pageNum, size = 10) {
			this.currentPage = Number(pageNum)
			this.$store.dispatch('notices/noticeList', {
				n4BoardSN: 335544325,
				n4PageNo: pageNum,
				n1PageSize: size
			})
		},
		changePage(pageNum) {
			// this.page = pageNum
			this.$router.push({
				name: `${this.boardInfo.routeName}_list`,
				query: { 'page': pageNum }
			})
		}
	}
}
</script>
